<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewBag.Title = "About";
    }
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <div class="body-content">
                        <h4>About me</h4>
                        <h5>Hristo Chernogorov</h5>
                        <p>Birthday: Noember 1989</p>
                        <p>Email: <a href="mailto:hristochernogorov@gmail.com">hristochernogorov@gmail.com</a></p>
                        <p>Website: <a href="http://chernogorov.it/">http://chernogorov.it/</a></p>
                        <p>GitHub: <a href="https://github.com/hristochernogorov">https://github.com/hristochernogorov</a></p>
                        <p>Linkedin: <a href="https://www.linkedin.com/in/hristochernogorov/">https://www.linkedin.com/in/hristochernogorov/</a></p>
                        <p>CV last updated on 21-Sept-2017</p>
                        <h5>Summary</h5>
                        <div>
                            Hi my name is Hristo and developing is my hobby for now.
                            I like to be profesional developer.For this reason startwith some small team and
                            independent project to get update my logaritmic thinking and
                            tehnican skills.I have successfully completed courses in "Telerik Academy" and www.udemy.com
                        </div>
                        <h5>Computer skills</h5>
                        <div>
                            <p>Good knowledge: C#,HTML5 and CSS3</p>
                            <p>Good knowlenge: Software Testing + Bugzilla + SQL + Agile + Unix</p>
                            <p>Basic knowledge: JAVA</p>
                            <p>Very Good knowlenge: Microsoft Word and Excel</p>
                            <p>Video and audio editing</p>
                        </div>
                        <h5>Experience</h5>
                        <div>
                            Team Project:
                            <p><a href="https://github.com/hristochernogorov/TEAM_SMOKE">Ping Pong Game</a></p>
                            <p><a href="https://gitlab.com/live-chat-app/livechat.git">Live Chat</a></p>
                            Independent projects:
                            <p><a href="wwww.chernogorov.it">My Blog</a></p>
                            <p><a href="www.deyacake.com">DeyaCake</a></p>
                        </div>
                        <h5>Education</h5>
                        <div>
                            <p>VFU"Chernorizets Hrabar"<br />
                            Nacional Security<br />
                            BcD
                            </p>
                            <p>
                                PGEE"Maria Kurie"<br />
                                Profesional Scholl of Electric and Electronic<br />
                                Specialist Electrical instalacion on Bilding
                            </p>
                        </div>
                        <h5>Certificates</h5>
                        <div>
                            <p><a href="https://www.udemy.com/certificate/UC-PHZYII6F/">Certificate QA Expert</a></p>
                            <p><a href="https://www.udemy.com/certificate/UC-7KPXZCG5/">Certificate HTML5 and CSS3</a></p>
                        </div>
                        <p></p>
                    </div>
                </td>
                <td><img class="img-about" src="../img/Cover-Image.png" alt="Computer_Pic" /></td>
            </tr>
        </table>
    </div>
</body>
</html>