<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewBag.Title = "Home Page";
    }
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h3>Chernogorov Blog</h3>
        <p  class="lead">Lead message</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere vestibulum ligula a vulputate. Donec non neque in quam luctus rhoncus. Mauris eleifend, arcu facilisis gravida faucibus, nisi dui viverra dui, non condimentum lorem risus interdum arcu. Ut id dui at nisi tempor tristique a quis enim. Nulla diam quam, malesuada at volutpat sit amet, auctor id felis. Morbi condimentum nulla et dui consectetur, et consequat eros dictum. Maecenas eu justo volutpat, ornare ligula quis, elementum tellus.

 </p>
        <p>Aliquam sollicitudin rutrum urna vel consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse at convallis tellus. Pellentesque dictum sapien vitae molestie dictum. Donec sagittis mollis tortor et venenatis. Sed eget elit aliquam, laoreet ante eget, tempus elit. Aenean ac leo maximus, pharetra odio nec, ullamcorper urna. Phasellus vel iaculis nibh. Vivamus feugiat vitae libero ut interdum. Phasellus pellentesque viverra finibus. Aliquam venenatis ligula at vestibulum feugiat. Morbi ullamcorper condimentum condimentum. Sed a tempus nulla. Ut eu enim a tellus sodales auctor. Morbi ullamcorper molestie nibh ac tincidunt.

</p>
        <p>Nulla pulvinar magna eget velit elementum, a eleifend diam tristique. Etiam arcu tortor, vulputate ac mi eu, pretium laoreet ante. Maecenas vestibulum justo at erat hendrerit auctor. Mauris volutpat viverra fermentum. Aenean at diam mattis, iaculis sapien ut, consequat dolor. Vestibulum molestie arcu sed sem ullamcorper vulputate. Etiam laoreet fringilla semper. Praesent ut arcu id purus porta convallis ut auctor ipsum. Nunc a nisi eget metus gravida viverra vitae finibus tortor. Donec vel tempus tellus, ac aliquam est.

</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent dictum, dui at dictum venenatis, ex dolor efficitur dui, tristique lacinia sapien leo vitae risus. Sed nec quam varius, posuere ex id, tristique nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu feugiat lorem, in vehicula massa. Maecenas ac ipsum vel quam mollis auctor. Nullam commodo diam non risus pellentesque, sed porttitor dolor ultrices. Nunc luctus nisl nibh, eu dictum leo pharetra eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas efficitur nunc magna, ac lobortis magna imperdiet non. Nam sit amet commodo risus, vel convallis erat.

</p>
    </div>
</body>
</html>