<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewBag.Title = "IT News";
        @Styles.Render("~/Content/css")
    }
</head>
<body>
    <div>
        <div class="body-content">
            <table>
                <thead>
                    
                </thead>
                <tbody>
                    <tr>
                        <td><object class="table-it-news" type="text/html" data="https://www.itninews.com/news.php"></object></td>
                        <td><object class="table-it-news" type="text/html" data="https://technews.bg/"></object></td>
                    </tr>
                    <tr>
                        <td><object class="table-it-news" type="text/html" data="http://www.economic.bg/bg/tehnologii.html"></object></td>
                        <td><object class="table-it-news" type="text/html" data="https://techcrunch.com/"></object></td>
                    </tr>
                </tbody>
            </table>
            @*<h2>@ViewBag.Title.</h2>*@
            @*<h3>@ViewBag.Message</h3>*@
        </div>
    </div>
</body>
</html>