body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.body-content{
    background-color:honeydew;
    text-align:justify;
    color:gray;
    border-radius:30px;
}
.body-content > h4,h5{
    color:black;
}
footer > p{
    color:black;
    font-style:italic;
}

.img-about{
    border-radius: 30px;
    width: 400px;
    height: 290px;
    float:right;

}
.table-it-news{
    min-width:550px;
    min-height:300px;
    padding:15px;
    
}
