@{
    ViewBag.Title = "DeyaCake";
}

<div class="jumbotron">
    <h3>DEYA CAKE</h3>
    <p class="lead">I created this page to popularize my mother's favorite recipes for cakes and home-made sweet temptations.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

